.img-tamaño{
    margin-top: 10px;
    max-width:150px;
    max-height: 150px;
    border-radius:10px;
    transition: all 0.5s ease;
    transform: scale(1.2);
    
    
}

.bloque{
    margin-top:25px;
    display:flex;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
    border-radius: 1em;
    box-shadow: 1em 1em 2em #242424, -1em -1em 2em #3c3c3c, inset 0 0 0 transparent, inset 0 0 0 transparent;

    
    }

.link{
    margin: 5px;
}
.img-tamaño:hover{
    transform: scale(1);
}
.presentacion{
    max-width:600px;
    /* border-radius: 1em; */
    padding-left: 350px;

}

.presentacion img{

    width:500px;
    height: 450px;
    border-radius:5px;
    box-shadow: 1em 1em 2em #242424, -1em -1em 2em #3c3c3c, inset 0 0 0 transparent, inset 0 0 0 transparent;

    
}

@media  screen and (max-width:450px){
    .presentacion{
        padding-left:0;
    }
}
@media  screen and (max-width:700px){
    .presentacion{
        padding-left:0;
    }
}
@media  screen and (max-width:900px){
    .presentacion{
        padding-left: 150px;
    }
}